1) cортирует список, состоящий из списков, по второму элементу этих
вложенных списков (по возрастанию);

In [55]:
lst = [[1,3,3,4], [2,1,3,5], [4,0,1,7], [5,2,1,0], [0,4,8,3]]

In [56]:
def sort_key(e):
  return e[1]

print(sorted(lst, key=sort_key))

[[4, 0, 1, 7], [2, 1, 3, 5], [5, 2, 1, 0], [1, 3, 3, 4], [0, 4, 8, 3]]

In [57]:
lst2 = sorted(lst, key=sort_key)
print(lst2)

[[4, 0, 1, 7], [2, 1, 3, 5], [5, 2, 1, 0], [1, 3, 3, 4], [0, 4, 8, 3]]

2) cоздает словарь, ключами в котором являются вторые элемент отсор-
тированной структуры данных (из пункта 1), а значениями – списки из
остальных элементов (первый, третий, четвертый);

In [58]:
key = [0, 1, 2, 3, 4]
value = [[4, 1, 7], [2, 3, 5], [5, 1, 0], [1, 3, 4], [0, 8, 3]]
D = {k:v for k, v in zip(key, value)}
print(D)

{0: [4, 1, 7], 1: [2, 3, 5], 2: [5, 1, 0], 3: [1, 3, 4], 4: [0, 8, 3]}

3) сортирует значения полученного словаря (списки) по убыванию;

In [59]:
Ks = list(D.keys())
print(Ks)
Ks.reverse()
print(Ks)

print('\n')

for key in sorted(D, reverse=True):
  print(key, '=>', D[key])

[0, 1, 2, 3, 4]
[4, 3, 2, 1, 0]


4 => [0, 8, 3]
3 => [1, 3, 4]
2 => [5, 1, 0]
1 => [2, 3, 5]
0 => [4, 1, 7]

In [64]:
print(D.values())
dv = list(D.values())

dict_values([[4, 1, 7], [2, 3, 5], [5, 1, 0], [1, 3, 4], [0, 8, 3]])

4) получает множество из всех значений (отсортированных списков)
полученного словаря;

In [74]:
print(D.items())
m = set(D)
print(m)

dict_items([(0, [4, 1, 7]), (1, [2, 3, 5]), (2, [5, 1, 0]), (3, [1, 3, 4]), (4, [0, 8, 3])])
{0, 1, 2, 3, 4}

5) преобразует множество в строку.

In [81]:
ln = list(m)
print(*list(ln))
print(" ".join(map(str,ln)))

0 1 2 3 4
0 1 2 3 4